* {
	box-sizing: border-box;

	.facts {
		background-color: #2a80b9;
		padding-top: 50px;
		font-family: $m-f;
		padding-bottom: 48px;
		text-align: center;
	
	

	h2 {
		color: $wht;
		text-align: center;
	}

	.item-f {
		display: flex;
		flex-wrap:wrap;
		justify-content:space-around;


		
	


	.item-f1 {
		padding-top: 20px;
		margin-left: 20px;
		margin-right: 10px;
		

		
		

		

	p {
		color: $wht;
		font-size: 14px;
		margin: 0;
		text-align: center;

	}

	h3 {
		color: $wht;
		font-size: 30px;
		margin: 0;
		text-align: center;
	}
}

	.item-f2 {
		padding-top: 20px;
		margin-left: 10px;
		margin-right: 10px;
		
		


		

		

	p {
		color: $wht;
		font-size: 14px;
		margin: 0;
		text-align: center;

	}

	h3 {
		color: $wht;
		font-size: 30px;
		margin: 0;
		text-align: center;
	}


}

.item-f3 {
		padding-top: 20px;
		margin-left: 20px;
		margin-right: 10px;
		
		

		

		

	p {
		color: $wht;
		font-size: 14px;
		margin: 0;
		text-align: center;

	}

	h3 {
		color: $wht;
		font-size: 30px;
		margin: 0;
		text-align: center;
	}



}

.item-f4 {
		padding-top: 20px;
		margin-left: 10px;
		margin-right: 10px;
		
		
		

		

	p {
		color: $wht;
		font-size: 14px;
		margin: 0;
		text-align: center;

	}

	h3 {
		color: $wht;
		font-size: 30px;
		margin: 0;
		text-align: center;
	}

}
}
}
}	