* {
	box-sizing: border-box;


	.feedback {
		background-color: #f4ba46;
		padding-top: 50px;
		font-family: $m-f;
		padding-bottom: 48px;


		h2 {
			text-align: center;
			color: $wht;
			font-size: $h-sz;
	
		}


		p {
			text-align: center;
			font-size: 14px;
			color: #fceed1;
			padding-bottom: 50px;
		}

		
		}
	}
