* {
	box-sizing: border-box;


	.clients {
		background-color: #efefee;
		padding-top: 50px;
		font-family: $m-f;
		padding-bottom: 48px;


		h2 {
			text-align: center;
			color: #2f2f2f;
			font-size: 29px;
		}


		.logos {
			margin-top:55px;
			padding-left: 20px;
			display: flex;
			flex-wrap:wrap;
			justify-content:space-around;

			img {
				padding-right: 30px;
				padding-bottom: 38px;
			}

		}

		}
	}
