*, *::before, *::after {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    width: 100%;
   
}

header {
    height: 180px;
    background: #5dd9e4;
    padding-top: 40px;
    
}

@media screen and (max-width: 590px){
   header {

    height: 240px;
    background: #5dd9e4;
    padding-top: 40px;
    
} 
}

.logo-block {
    width: 120px;
    height: 120px;
    border:3px solid #fff;
    border-radius: 50%;
    margin-left: 30px;
    margin-top: -10px;
    text-align: center;


}

.logo {
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 5px;
    
}

@media screen and (max-width: 1000px){
    .logo-block {
    width: 90px;
    height: 90px;
    border:2px solid #fff;
    border-radius: 50%;
    margin-left: 10px;
    margin-top: -5px;
    text-align: center;

}


.logo {
    font-size: 10px;
    font-family: monospace;
    font-weight: bold;
    margin-bottom: 5px;
    
}
}


.logo  p span {
    padding: 2px;
    margin-bottom: 5px;
}
}


.logo  p span {
    padding: 2px;
    margin-bottom: 3px;
}

header h2 {
    font-family: Lobster;
    margin-left: 100px;
    font-size: 50px;
    color: #fff;
    margin-left: 190px;
    margin-top: -100px;
    
    padding-left: 20px;
    text-shadow: rgba(0,0,0,.2) 5px 5px 4px;
    
}

@media screen and (max-width: 1000px){
    header h2 {
    font-family: Lobster;
    font-size: 28px;
    color: #fff;
    margin-left: 99px;
    margin-top: -100px;
    
    padding-left: 20px;
    text-shadow: rgba(0,0,0,.2) 5px 5px 4px;
    
}
}

.nav-pro {
    float:right;
    margin-top: -100px;
    margin-right: 50px;

}


header nav li{
    display: inline;
    list-style-type: none;
    text-align: right;
    padding: 20px;
}

.nav-pro a {
    text-decoration:none;
    color: #fff;
    font-size: 25px;
    font-family: sans-serif;
    text-shadow: rgba(0,0,0,.2) 5px 5px 4px;

}

.nav-pro a:hover {
    color: #060531;
}
@media screen and (max-width: 1000px){
    .nav-pro ul{
    display: inline-block;
    float: none;
    padding-top: 70px;
    }
}

@media screen and (max-width: 590px){
    .nav-pro ul{
 
    float: left;
    padding-top: 80px;
    padding-left: 120px;
    }
}


main {
    background:url("./image/bali.png");
    padding-top: 30px;
    height: auto;
}

.container {
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
    width: 90%;
    height: 0;
    padding-bottom: 40%;
    user-select: none;
    background-color: #1c1c1c;
    box-shadow:  0 11px 22px rgba(0, 0, 0, 0.20), 0 7px 7px rgba(0, 0, 0, 0.24);
}

   .container input {
       display: none;
   }

     .slide_img {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

     .container   img {
            width: inherit;
            height: inherit;
        }

    .prev, .next {
            width: 12%;
            height: inherit;
            position: absolute;
            top: 0;
            background-color: rgba(255, 82, 82, .2);
            z-index: 99;
            transition: .45s;
            cursor: pointer;
            text-align: center;
        } 

        .next {
            right: 0;
        }
        .prev {
            left: 0;
        }

        .prev:hover, .next:hover {
            transition: .3s;
            background-color: rgba(255, 82, 82, .8);
        } 

         .prev span, .next span {
            position: absolute;
            width: 0px;
            height: 0px;
            border: solid 20px;
            top: 50%;
            transform: translateY(-50%);
        }
  
     .prev span {
            border-color: transparent #fff transparent transparent;
            right: 35%;
        }

         .next span {
            border-color: transparent transparent transparent #fff;
            left: 35%;
        }

         #nav_slide {
        width: 100%;
        bottom: 12%;
        height: 11px;
        position: absolute;
        text-align: center;
        z-index: 99;
        cursor: default;
    }

    .dots {
            top: -5px;
            width: 18px;
            height: 18px;
            margin: 0 3px;
            position: relative;
            border-radius: 100%;
            display: inline-block;
            background-color: rgba(0, 0, 0, 0.6);
            transition: .4s;
            cursor: pointer;
        }
        
         #dot1:hover {background: brown;}
#dot2:hover {background: magenta;}
#dot3:hover {background: blue;}
#dot4:hover {background: green;}

#i1:checked ~ #one,
#i2:checked ~ #two,
#i3:checked ~ #three,
#i4:checked ~ #four {
    z-index: 9;
    animation: scroll 1s ease-in-out;
}

#i1:checked ~ #nav_slide #dot1 {background: brown;}
#i2:checked ~ #nav_slide #dot2 {background: magenta;}
#i3:checked ~ #nav_slide #dot3 {background: blue;}
#i4:checked ~ #nav_slide #dot4 {background: green;}

    
@keyframes scroll {
    0% { opacity: .4;}
    100% { opacity: 1;}
}

@media screen and (max-width: 685px) {
    .container {
        border: none;
        width: 100%;
        height: 0;
        padding-bottom:55%;

        .slide_img {
            .prev, .next {
                width: 15%;
            }

            .prev span, .next span {
                border: solid 12px;
            }
            .prev span {
                border-color: transparent #fff transparent transparent;
            }
            .next span {
                border-color: transparent transparent transparent #fff;
            }
        }

        #nav_slide .dots {
            width: 12px;
            height: 12px;
        }
    }
}

.block-nic {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 70px;
    margin-right: 70px;
}


.nicolas {
    width: 560px;
    background: #fff;
    height: 287px;
    margin-top: 20px;
    background: url("./image/bag1.png") no-repeat, #d0c3d8;
    background-size: 300px 300px;
    border: 14px solid #fff;
    border-radius: 4px;
}




@media screen and (max-width: 1130px){
    .block-nic {
    display: grid;
    grid-template-columns:auto;
    margin-left: 70px;
    margin-right: 70px;
}
}
@media screen and (max-width: 660px){
    main {
        height: auto;
    }
}

.nic-text {
    text-align: right;
    margin-right: 10px;

}

.nic-text p {
    font-size: 14px;
}

.nic-text h4 {
    font-size: 18px;
}

.nic-lorem  {
    text-align: right;
   
}


.line-lv {
    width: 125px;
    border-top: 1px solid #db5941;
    margin-left:320px;
    margin-top:0;
}



@media screen and (max-width: 660px){
     .block-nic {
    height: auto;
    margin-top: -106px;
    margin-bottom: 156px;
    margin-left: -97px;
    margin-right: 10px;
    display: grid;
    grid-template-columns:auto;

}

.nicolas {
    width: 560px;
    background: #fff;
    height: 287px;
    margin-top: 300px;

    background: url("./image/bag1.png") no-repeat, #d0c3d8;
     background-size: 300px 300px;
    border: 14px solid #fff;
    border-radius: 4px;
    transform: rotate(90deg);
}

.nic-text {
    text-align:center;
    padding-bottom: -10px;
    margin-bottom: 10px;
    padding-top: 220px;
    margin-right: -40px;
    transform: rotate(-90deg);
}

  .nic-lorem   {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    
   
    padding-left: 156px;
}

.nic-text p {
    font-size: 15px;
}

.nic-text h4 {
    font-size: 12px;
    padding-left: 97px;
}

.line-lv {
    width: 105px;
    border-top: 1px solid #db5941;
    margin-left:286px;
    margin-top:0;
}

.time {
    text-align: center;
    padding-left: 100px;
}



}




.studio {
    background-color: #27ae61;
        padding-top: 50px;
        padding-bottom: 48px;
        text-align: center;
}

.carousel {
    background: #6d6d6d;
    height: 348px;
    width: 100%;
}

.buttoncl {
    border: none;
    padding: 10px 30px;
    color: #fff;
    background:blue;
    margin: 50px;
    margin-left: 50px;
 }

 .closeBtnn {
    cursor: pointer;
    float: right;
    font-size: 20px;
    color: #fff;
 }

 .modaln {
    background:rgba(0,0,0,.2);
    position: absolute;
    display: none;
    justify-content: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    perspective: 500px;
 }

 .modaln .modaln-wrapper {
    width: 50%;
    max-width: 500px;
    top:15%;
    background:rgb(0,100,250);
    position: absolute;
    text-align: left;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,.3);
    transform: rotateX(0deg);
    
    animation-name:modal;
    animation-duration: 1s; 
 }

 @media screen and (max-width: 660px){
    .modaln .modaln-wrapper{
    width: 100%;
    max-width: 500px;
    top:15%;
    background:rgb(0,100,250);
    position: absolute;
    text-align: left;
    box-shadow: 0px 0px 13px 0px rgba(0,0,0,.3);
    transform: rotateX(0deg);
    
    animation-name:modal;
    animation-duration: 1s; 
 }
}



 .modaln-header, .modaln-body, .modaln-footer {
    padding: 5px 15px;
 }

  .modaln-header, .modaln-footer {
    text-align: center;
    color: #fff;
  }

  .modaln-footer  img {
    padding-right: 15px;
   padding-top: 10px;
   
  }

   

  .modaln-body {
    background: #fff;
  }

  .inp-mod {
    margin-bottom: 5px;
    padding: 10px;
    width: 100%;
    border: 1px solid rgb(0,100,250);
  
  
  }

  .agree {
    color: #fff;
    background:rgb(0,100,250);
    border: none;
    cursor: pointer;
    padding: 10px;
  }

  @keyframes modal {
    from {
        opacity: 0;
        top: 5%;
        transform: rotateX(90deg);

    }
    to {
        opacity: 1;
        top: 15
        transform: rotateX(0deg);       
    }
}




.gallery {
    margin-top: 40px;
    margin-left: 40px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.gallery img {
    width: 250px;
    height: 250px;
    padding-bottom: 40px;
}

.news, .gall h2 {
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
}

@media screen and (max-width: 660px){
    .gallery {
    margin-top: 40px;
    margin-left: 4px;
    display: grid;
    grid-template-columns: auto;
}
}

@media screen and (max-width: 660px){
    .news h2 {
        font-size: 20px;
    }
}


.about {
    display: grid;
    grid-template-columns: auto auto auto;
    font-family: sans-serif;
    font-size: 20px;
    color: #000;

}

.about p:hover {
color: red;

}

@media screen and (max-width: 660px){
    .about {
    display: grid;
    grid-template-columns: auto;
    font-family: sans-serif;
    font-size: 18px;
    color: #000;

}
}



.footer-bottom {
    padding-top: 30px;
    background: #380540;
    text-align: center;
    height: 100px;
}

.footer-bottom a {
    text-decoration: none;
    color: #fff;
    padding-top: 20px;
    font-family: cursive;
    font-size: 20px;

    
}

@media screen and (max-width: 660px){
    .footer-bottom a {
    text-decoration: none;
    color: #fff;
    padding-top: 20px;
    font-family: cursive;
    font-size: 18px;

    
}
}

.footer-top {
    background: #5e3068;
    text-align: center;
    padding-top: 40px;
    color: #fff;
    font-family: cursive;
    font-size: 20px;

}

.social {
    margin-right: 550px;
    margin-left: 550px;
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.social img {
    margin-right: 10px;
}


@media screen and (max-width: 660px){
    .social {
    margin-right: 100px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: auto auto;
}
}

.nicolas button {
    background:rgba(23,172,181, 0.8);
    padding: 7px;
    border: 1px solid rgba(23,172,181, 0.8);
    color: rgba(10,11,11,0.8);
}

@media screen and (max-width: 660px){
    .nicolas button {
    background:rgba(23,172,181, 0.8);
    padding: 7px;
    border: 1px solid rgba(23,172,181, 0.8);
    color: rgba(10,11,11,0.8);
    margin-left: 174px;


}

.button-sl {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 200px;

}
}


.button-sl {
    margin-left: 304px;

}

.modaln {
    z-index: 8888;
}
.modal-sl {
    margin-left: 500px;
}

