.logo {
	font-family: Lobster;
	font-size: 25px;
}

.dropdown-item:hover {
	background:transparent;
	font-style: italic;
}

.dropdown-item:active:visited:hover {
	color: magenta;
}

.card-text-h {
	color: cyan;
}

.books {
	margin-left: 20px;
}

.roman {
	height: 340px;
}

h1 {
	margin-top: 40px;
}

footer {
	margin:20px 0 0;
	height: 90px;
	width: 100%;
	padding-bottom: 40px;
	
}

footer>p img{
	padding-top: 10px;
}

footer >p {
	font-weight: normal;
	line-height: 1;
	font-size: 18px;
}
