.dropdown-item:hover {
	background:transparent;
	font-style: italic;
}

.dropdown-item:active {
	color: magenta;
}

body {
	background: #6c7070 url(./img/upfeathers.png);
}

.logo {
	font-family: Lobster;
	font-size: 25px;
}

.books {
	margin-bottom: 50px;
	margin-right: -4%;
}

.p-say {
	font-family: 'Dancing Script', cursive;
}

footer {
	margin-top: 20px;
	padding-bottom: 5px;
	width: 100%;
	
}

footer>p img{
	padding-top: 10px;
}

footer >p {
	font-weight: normal;
	font-size: 18px;
}
