

.prog1 {
	background-color: #ebebea;

	height: 24px;
	margin-left: 18px;
	border-radius:4px;


	.web {
		background-color: #f8bc3a;
		height:24px;
		width: 95%;
		border-radius:4px;
		margin-right: 0;

		


		p {
			color: #fef7e6;
			text-align:left;
			padding-top: 5px;
			padding-left: 10px;
	
		}


	}	
	}
	
.prog2 {
	background-color: #ebebea;
	height: 24px;
	margin-left: 18px;
	border-radius:4px;


	.hcss {
		background-color: #27ae61;
		height: 24px;
		width: 40%;
		border-radius:4px;
		margin-right: 0;

		


		p {
			color: #fef7e6;
			text-align:left;
			padding-top: 5px;
			padding-left: 10px;
	
		}


	}	
	}

	.prog3 {
	background-color: #ebebea;
	height: 24px;
	margin-left: 18px;
	border-radius:4px;


	.illustr {
		background-color: #db5941;
		height: 24px;
		width: 60%;
		border-radius:4px;
		margin-right: 0;

		


		p {
			color: #fef7e6;
			text-align:left;
			padding-top: 5px;
			padding-left: 10px;
	
		}


	}	
	}