body {
	
	font-family: "Times New Roman", Times, Baskerville, Georgia, serif;
}
.logo {
	font-family: Lobster;
	font-size: 25px;
}

nav  {
	font-family: sans-serif;
}

.dropdown-item:hover {
	background:transparent;
	font-style: italic;
}

.dropdown-item:active {
	color: magenta;
}

h2,h3, h4, h5 {
	text-align: center;
	font-family: sans-serif;
}

p{
	font-size: 20px;
	word-wrap:break-word;
	

}

.container {
	padding: 0 20px 70px;
	word-wrap:break-word;
	text-align: left;
	margin-bottom: 20px;
	
	
}

@media(max-width: 420px){
	.container p {
		font-size: 20px;
	}
	nav a{
		font-size: 40px;
	}

	footer>p{
		font-size: 15px!important;
	}
}

h4 {
	font-size: 25px;
	color: #421341;
}

h1 {
	text-align: center;
	font-family: 'Pacifico', cursive;
	color: #ce30cc;
	margin-top: 40px;
}

h5 {
	font-size: 18px;
	color: #9e5a9d;

}

hr {
	background: #e49de3;
}
.btn {
	opacity: .7;
	
}

h6 {
	font-size: 18px;
	color: #971ac0;
	text-transform: uppercase;
}

#tobottom {
	font-family: 'Great Vibes', cursive;
	color: #ce30cc;
	margin-bottom: -50px;

}


footer {
	margin:30px 0 0;
	height: 102px;
	width: 100%;
	/* position: fixed;
	bottom: 0;
	left: 0; */
	font-family: sans-serif;

}

footer>p img{
	padding-top: 10px;
}

footer >p {
	font-weight: normal;
	line-height: 1;
	font-size: 18px;
}

