body {
	font-family:"Poppins", sans-serif;
}

* {
	padding: 0;
	margin: 0;
}

li{
	list-style: none;
	display: flex;
}
a {
	text-decoration: none;
}

header {
	background: #f6f6f6;
	padding: 22px 0;
}

.header-container{
	width: 90%;
	margin: 0 auto;
	display:flex;
	justify-content: space-between;
}

.header-container a {
	color: #000;
	font-size: 16px;
	margin-right: 63px;
	padding: 27px 6px;
}

.header-container a:hover {
	background: #ffea00;
}

#menu-checkbox {
	display: none;
}

ul {
	display: flex;
}

nav {
	margin-top: 20px;
}


.top-slide {
	background:url(img/slider_bg.png) no-repeat;
	padding-top: 120px;
	padding-bottom: 280px;
}

.top-slide h2 {
	background: #ffea00;
	display: inline;
	font-size: 70px;
	padding: 0 13px;
}
.top-slide :nth-child(2){
	margin-bottom: 20px;
	margin-top: 30px;
}

.top-slide :nth-child(1){
	margin-bottom: 20px;
}

.top-slide p {
	background: #414146;
	display: inline;
	font-size: 24px;
	color: #fff;
}
.top-container {
	width: 85%;
	margin: 0 auto;
}


.specialize-container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}


.specialize-container h3 {
	font-size: 35px;
	margin-top: 50px;
}

.specialize-container p {
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.button-card{
	background: #414146;
	position: relative;
	top: -27px;
	height: 81px;
}

.specialize-card {
	display: flex;
	justify-content: space-between;
}
p.second-p{
	font-size: 16px;
	color: #fff;
	padding-top: 25px;
}

.first-p{
	font-size: 20px;
	color: #fff;
	padding-top: 17px;
}

.lorem-card {
	position: relative;
	top: -105px;
}




@media(max-width: 420px){
	.header-container{
		width: 100%;
		display: flex;
		justify-content: space-around;
	}
	.main-menu{
		display: none;	
	}
	.main-menu li{
		width: 100%;
		display: block;
		font-size: 12px;
	}

	.main-menu a{
		display: block;
		padding: 8px;
	}

	.toggle-button {
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000;
		margin-top: 20px;
	}

	.toggle-button:after{
		content:attr(data-open);
		display: block;
	}
	#menu-checkbox:checked + nav[role="navigation"] .main-menu{
		display: block;

	}

	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after{
		content: attr(data-close);
	}
	.header-container a{
		margin-right: -65px;
	}
	.main-menu{
		position: relative;
		top: 30px;
		right: 115px;
	}
}